
#lien_activite{
    width: 100%;
    margin-top: 60px;
}
.activite{
    display: flex;
    flex-wrap: wrap;
    border:1px solid white;
    border-radius: 20px;
    background-color: white;
    justify-content: space-between;
    margin-bottom: 60px;
}
.image_activite > img{
    width: 302px;
    height: 389px;
    border: 2px solid white;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.activite_marseille{
    width: 302px;
    height: 444px;
}
