body {
    margin: 0;
   font-family: 'Raleway', sans-serif;
}

.mise-en-page {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 5px;
}

img {
   object-fit: cover;
}

a {
   text-decoration: none;
   color: inherit;
}