#logo_nav{
    display: flex;
    justify-content: space-between;
}
.logo > img{
    width: 61px;
    height: 19px;
    margin-top: 48px;
}
.nav_menu{
    width:250px;
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.nav_menu a{
    display: block;
    height: 100%;
    padding-top: 48px;
}
.nav_menu a:hover{
    border-top: 2px solid #0065FC;
    padding-top: 46px;
    color: #0065FC;
}