
.info {
    display: flex;
    align-items: center;
    height: 19px;
    margin-bottom: 10px;
}

.icone_info {
    display: flex;
   color: #0065FC;
   width: 24px;
   height: 24px;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid #f2f2f2;
   border-radius: 100%;
   margin-right: 11px;
}

.section_hebergement{
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-height: 626px;
}

.section_hebergement > .sous_section_hebergement {
    padding: 40px;
    height: 100%;
}

.sous_section_hebergement_liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 23px;
}

#lien_hebergement {
    width: 100%;
}

.afficher_plus {
    width: 100%;
}

.sous_section_hebergement > h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 > i {
    color: #0065FC;
}
